{% extends "polls/home.html" %}
 {% block content %}
  {% csrf_token %}
 <div class="row">
 		<div class="col-md-2"></div>
 		<div class="col-md-8">
 			<h3>Employee Form</h3>
 			<form class="form-horizontal" method="post" >
 			 <div class="form-group">
      <label class="control-label col-sm-2" for="email">{{form.name.label}}</label>
      <div class="col-sm-10">
        {{form.name}}
        {{form.name.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">{{form.email.label}}</label>
      <div class="col-sm-10">
        {{form.email}}
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="email">{{form.mobilenumber.label}}</label>
      <div class="col-sm-10">
        {{form.mobilenumber}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">{{form.designation.label}}</label>
      <div class="col-sm-10">          
        {{form.designation}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">{{form.salary.label}}</label>
      <div class="col-sm-10">          
        {{form.salary}}
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="btn btn-default" href="/polls/user/"> Cancel</a>

    </div>
  </form>

 		</div>
 		<div class="col-md-2"></div>


 </div>

{% endblock %}	