

{% extends 'polls/home.html' %}


{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p class="text-center text-danger">Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
    <div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-panel panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-horizontal" >
{% csrf_token %}

 <div class="form-group">
      <label class="control-label col-sm-2" for="email">{{ form.username.label_tag }}</label>
      <div class="col-sm-10">
        {{ form.username }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">{{ form.password.label_tag }}</label>
      <div class="col-sm-10">
        {{ form.password }}
      </div>
    </div>

                        
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-primary btn-md btn-block" type="submit" value="login" />
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}

