{% extends "polls/home.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		
		<a href="{% url  'employee' %}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add {{msg}}</a>
	</div>

</div>
{% if messages %}
    {% for message in messages %}
   <div class="alert alert-success">
  {{message}}
</div>
    {% endfor %}
{% endif %}
{% if user %}
   There are {{ user|length }} records:
   <table class="table table-bordered">
   <thead>
   	<th>Name</th>
   	<th>Mobile Number</th>
   	<th>Designation</th>
   	<th></th>
   </thead>
   {% for e in user %}
      <tr>
      <td> {{ e.name }} </td>
      <td>{{e.mobilenumber}}</td>
      <td>{{e.designation}}</td>
      <td>
  <div class="btn-group">
    <button type="button" class="btn btn-default"> <a title="edit" href="{% url  'employeename' e.id %}"><i class="glyphicon glyphicon-edit"></i> </a></button>
   
    <button type="button" class="btn btn-default"><a title="view" href="{% url  'get_employeeDetails' e.id %}"><i class="glyphicon glyphicon-eye-open
"></i> </a></button>
 <button type="button" class="btn btn-default"><a title="delete" href="{% url  'delete_employeeDetails' e.id %}"><i class="glyphicon glyphicon-trash"></i> </a></button>
  </div>
      </td>
     
      </tr>
   {% endfor %}
   </table>
{% else %}
   There are no records in the system


{% endif %}
{% endblock %}	