{% extends "polls/home.html" %}
{% block content %}
<h3><a href="/blog/">{{ post.title }}</a></h3>
<h6> on {{ post.date }}</h6>

<div class = "container">
	{{ post.body|safe|linebreaks}}
</div>
<br><br>
{% endblock %}