{% extends "polls/home.html" %}
{% block content %}

<form class="login form-horizontal"  method="POST" action="/polls/user/">

  {% csrf_token %}

 <div class="form-group">
       

        
      <label class="control-label col-sm-2" for="pwd">{{form.username.label}}</label>
      <div class="col-sm-10">          
       {{form.username}}
      </div>
    
            
       
        
    </div>
<div class="form-group">
       

        
      <label class="control-label col-sm-2" for="pwd">{{form.password.label}}</label>
      <div class="col-sm-10">          
        {{form.password}}
                {{ field.errors }}
      </div>
    
            
       
        
    </div>
 <input type="submit" class="btn btn-primary" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {% endblock %}    